<section>
  <div class="bg-[url('leaderboard_hero.png')] h-80 bg-cover md:h-[30rem]">
    <div class="flex flex-col items-start justify-around px-5 pt-24 h-full md:container md:mx-auto">
      <div>
        <h2 class="uppercase text-white font-bold text-[10px] md:text-lg">2023 High Ground Fitness Competition</h2>
        <h1 class="uppercase text-white font-semibold text-[40px] md:text-8xl">Leaderboard</h1>
      </div>
      <%= form_with url: "/leaderboard", method: :get, data: { controller: "actions", turbo_frame: 'leaderboard-frame' }, class: 'w-full md:w-1/3' do |form| %>
        <%= form.select :division, options_for_select(["Scaled Femenino", "Scaled Masculino", "Intermedio Femenino", "Intermedio Masculino", "RX Masculino"], "Scaled Femenino"), {}, data: { action: 'change->actions#submit' }, class: 'w-full bg-black text-white border-white' %>
      <% end %>
    </div>
  </div>

  <turbo-frame id="leaderboard-frame" target="_top">

    <!-- Mobile Version -->
    <% @athletes.each do |athlete| %>
      <div class="flex flex-col md:flex-row border-t-2 border-gray-300 md:hidden">
        <div data-controller="leaderboard" data-action="click->leaderboard#toggle" id="athlete_<%= athlete.id %>" class="gap-4 px-4 h-16 items-center cursor-pointer flex justify-between"> 
          <p class="text-sm leading-none font-semibold"><%= athlete.rank %></p>
          <p class="uppercase flex-1 text-sm leading-none font-semibold"><%= athlete.full_name %></p>

          <p class="text-sm leading-none font-semibold"><%= athlete.total_points %></p>
            <span data-leaderboard-target="iconDown">
          <i class="fa-solid fa-chevron-down"></i>
          </span>
          <span class="hidden" data-leaderboard-target="iconUp">
            <i class="fa-solid fa-chevron-up"></i>
          </span>

        </div>
        <div id="athlete_<%= athlete.id %>_details" class="max-h-0 overflow-hidden transition-all ease-in-out duration-300 flex flex-col px-10">
          <% athlete.scores.includes(:workout).each do |score| %>
            <p class="text-sm leading-loose">
              <%= score.workout.name %>: <%= format_rank(score.rank) %> (<%= format_score(score) %>) <%= score.points %>pts
            </p>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- Desktop Version -->
    <div class="hidden container mx-auto md:grid grid-cols-[1fr_4fr_1fr<%= @workouts.count.positive? ? "_repeat(#{@workouts.count},_2fr)" : '' %>] my-8 border border-gray-200">
      <div class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Rank</div>
      <div class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Athlete</div>
      <div class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Points</div>
      <% @workouts.each_with_index do |workout, index| %>
        <div class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Workout <%= index + 1 %></div>
      <% end %>
      <% @athletes.each_with_index do |athlete, index| %>
        <div class="<%= index.odd? ? 'bg-gray-100' : '' %> h-20 text-lg font-semibold flex items-center border border-gray-200 justify-center"><%= athlete.rank %></div>
        <div class="<%= index.odd? ? 'bg-gray-100' : '' %> h-20 text-sm font-semibold flex items-center border border-gray-200 justify-start uppercase px-4"><%= athlete.full_name %></div>
        <div class="<%= index.odd? ? 'bg-gray-100' : '' %> h-20 text-sm font-semibold flex items-center border border-gray-200 justify-center"><%= athlete.total_points %></div>

        <% @workouts.each do |workout| %>
          <% score = athlete&.scores&.find_by(workout_id: workout.id) %>
          <% if score %>
            <div class="<%= index.odd? ? 'bg-gray-100' : '' %> h-20 flex flex-col justify-center items-center border border-gray-200">
              <div><%= format_rank(score&.rank) %></div>
              <div class="text-sm">(<%= format_score(score) %>)</div>
              <div class="text-sm"><%= score&.points %>pts</div>
            </div>
          <% else %>
            <div class="<%= index.odd? ? 'bg-gray-100' : '' %> border border-gray-200"></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </turbo-frame>
</section>
