<section class="container mx-auto">
  Leaderboard
  <% @athletes.each do |athlete| %>
    <div>
      <button data-controller="leaderboard" data-action="click->leaderboard#toggle" id="athlete_<%= athlete.id %>">
        <%= athlete.full_name %>
      </button>
    </div>
    <div id="athlete_<%= athlete.id %>_details" class="max-h-0 overflow-hidden transition-all ease-in-out duration-300">
      Division: <%= athlete.division %><br>
      Box: <%= athlete.box %>
    </div>
  <% end %>
</section>
