<div id="<%= dom_id fri_athlete %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= fri_athlete.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= fri_athlete.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= fri_athlete.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= fri_athlete.phone %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this athlete", fri_athlete, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this athlete', edit_fri_athlete_path(fri_athlete), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
