<footer class="bg-hg-black py-10 flex justify-center">
  <div class="border-white border-r-2">
    <%= link_to root_path do %>
      <%= image_tag 'white_sticker.png', alt: 'logo sticker', class: 'mr-8 h-28' %>
    <% end %>
  </div>
  <div class="flex flex-col justify-center items center text-center gap-5 ml-8">
    <div class="flex justify-center gap-5">
      <%= link_to 'https://www.instagram.com/highgroundfitnesscomp/', target: '_blank' do  %>
        <i class="fa-brands fa-instagram fa-xl" style="color: #ffffff"></i>
      <% end %>
      <%= link_to 'https://www.facebook.com/highgroundfitnesscomp', target: '_blank' do  %>
        <i class="fa-brands fa-facebook fa-xl" style="color: #ffffff"></i>
      <% end %>
      <%= link_to 'https://youtube.com/@HighGroundFitnessCompetition?si=sioZBLeWSWJ_TBTG', target: '_blank' do  %>
        <i class="fa-brands fa-youtube fa-xl" style="color: #ffffff"></i>
      <% end %>
    </div>
    <div class="text-white text-xs">Web by <%= link_to "HighGround", 'https://www.instagram.com/highgroundfitnesscomp/', class: "font-semibold" %></div>
  </div>
</footer>
