<header class="bg-white">
  <nav class="lg:flex lg:container lg:mx-auto lg:justify-between bg-white" data-controller="toggle">
    <div class="container mx-auto relative bg-white flex justify-between w-full py-6 items-center z-30" >

      <%= link_to root_path do %>
        <%= image_tag 'logo.png', alt: 'logo', class: 'mx-5 h-20' %>
      <% end %>

      <button class="mx-5 w-fit lg:hidden" data-action="click->toggle#menu">
        <div data-toggle-target="hamburger">
          <i class="fa-solid fa-bars fa-xl"></i>
        </div>
        <div class="hidden" data-toggle-target="close">
          <i class="fa-solid fa-xmark fa-xl"></i>
        </div>
      </button>
    </div>

    <div class="w-full flex flex-col opacity-0 z-20 top-[-8rem] transition-all duration-200 ease-in bg-white absolute lg:justify-center lg:static lg:opacity-100 lg:w-fit" data-toggle-target="menu">
      <div class="w-full container mx-auto flex py-5 flex-col items-end gap-6 text-lg uppercase lg:flex-row lg:items-center lg:text-base">
        <%= link_to 'Inicio', root_path, class: "mr-5" %>
        <%= link_to 'Lugar y fecha', root_path(anchor: 'place&date'), class: "min-w-max mr-5" %>
        <%= link_to 'Patrocinadores', root_path(anchor: 'sponsors'), class: "mr-5" %>
        <%= link_to 'Inscríbete', payment_options_path, class: "rounded-lg py-2 px-4 border-2 border-hg-purple text-hg-purple block font-semibold uppercase w-fit hover:bg-hg-purple hover:text-white duration-200 hover:ease-in mr-5" %>
        <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "rounded p-3 bg-red-500 text-white font-medium min-w-max h-fit mr-5 lg:mx-auto" if user_signed_in? %> 
      </div>
    </div>
  </nav>
</header>
