¡Bienvenido(a) a High Ground 2023 <%= @athlete.first_name %>

Estamos emocionados de tenerte como parte de nuestro evento y esperamos que estés listo(a) para enfrentar desafíos emocionantes y alcanzar nuevas alturas en tu fitness.</h1>

Para asegurarnos de que tengamos toda la información necesaria para participar en este evento, te mostramos los datos que tenemos registrados de ti:

Nombre(s): <%= @athlete.first_name %>
Apellido(s): <%= @athlete.last_name %>
Email: <%= @athlete.email %>
Categoría: <%= @athlete.division %>
Box: <%= @athlete.box %>
Teléfono: <%= @athlete.phone %>

Es importante que revises estos datos y te asegures de que sean correctos. Si encuentras algún error o necesitas realizar alguna modificación en tu información, por favor responde este correo antes del jueves 9 de noviembre. Después de esa fecha, no podremos aceptar cambios en los datos registrados.

Adjunto a este correo encontrarás un archivo que deberás imprimir y llevar contigo para que nos lo entregues en la entrada del lugar del evento. Este documento es esencial para tu participación en la competencia, y sin el documento firmado, lamentablemente no podrás competir.

Agradecemos tu compromiso con High Ground Fitness Competition 2023 y estamos ansiosos por verte en acción. Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en ponerte en contacto con nuestro equipo organizador a través de este correo o por redes sociales.

Te deseamos mucho éxito en el evento y esperamos que disfrutes al máximo de esta experiencia. ¡Nos vemos este 18 de noviembre!

Atentamente,

High Ground
