<%= form_with(model: recurrente_athlete, class: "contents") do |form| %>
  <% if recurrente_athlete.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(recurrente_athlete.errors.count, "error") %> prohibited this recurrente_athlete from being saved:</h2>

      <ul>
        <% recurrente_athlete.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label "Nombre(s)" %>
    <%= form.text_field :first_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "Apellido(s)" %>
    <%= form.text_field :last_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "E-mail" %>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "Teléfono" %>
    <%= form.text_field :phone, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "Talla de T-shirt (tallas unisex)" %>
    <%= form.select :tshirt_size, ['XS', 'S', 'M', 'L', 'XL'], { include_blank: true }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "Box" %>
    <%= form.text_field :box, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "Categoría" %>
    <%= form.select :division, ['Scaled Femenino', 'Intermedio Femenino', 'Scaled Masculino', 'Intermedio Masculino', 'RX Masculino'], { include_blank: true }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="lg:hidden">
    <%= render "shared/recurrente_total_price" %>
  </div>

  <%= link_to 'Cancelar', root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-200 inline-block font-semibold" %>
  
  <div class="inline">
    <%= form.submit "Continuar al pago", class: "rounded-lg py-3 px-5 bg-hg-purple text-white inline-block font-semibold cursor-pointer" %>
  </div>
<% end %>
