<div class="<%= workout.workout_number.odd? ? 'bg-gray-100' : '' %> h-20 text-lg font-semibold flex items-center border border-gray-200 justify-center"><%= workout.workout_number %></div>
<div class="<%= workout.workout_number.odd? ? 'bg-gray-100' : '' %> h-20 text-lg font-semibold flex items-center border border-gray-200 justify-center capitalize"><%= workout.name %></div>
<div class="<%= workout.workout_number.odd? ? 'bg-gray-100' : '' %> h-20 text-lg font-semibold flex items-center border border-gray-200 justify-center"><%= workout.workout_type %></div>
<div class="<%= workout.workout_number.odd? ? 'bg-gray-100' : '' %> h-20 text-lg font-semibold flex items-center border border-gray-200 justify-center">
  <% if workout.divisions.any? %>
    <p class="uppercase"><%= workout.divisions.map(&:name).join(', ') %></p>
  <% end %>
</div>
<div class="<%= workout.workout_number.odd? ? 'bg-gray-100' : '' %> h-20 text-lg font-semibold flex items-center border border-gray-200 justify-center gap-5">
  <%= link_to edit_admin_workout_path(workout) do %>
    <i class="fa-regular fa-pen-to-square"></i>
  <% end %>
  <%= link_to admin_workout_path(workout), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
    <i class="fa-regular fa-trash-can" style="color: #ff0000;"></i>
  <% end %>
</div>
