<section class="container mx-auto">

  <div class="flex flex-col gap-5">
  <h1 class="text-4xl font-semibold uppercase">Admin Leaderboard</h1>
  <%= form_with url: "/admin/leaderboard", method: :get, data: { controller: "actions", turbo_frame: 'admin-leaderboard-frame' } do |form| %>
    <%= form.text_field :query, data: { action: 'input->actions#submit' }, type: "search", placeholder: "Start typing to search..." %>
    <%= form.select :division, options_for_select(["Scaled Femenino", "Scaled Masculino", "Intermedio Femenino", "Intermedio Masculino", "RX Masculino"], "Scaled Femenino"), {}, data: { action: 'change->actions#submit' } %>
  <% end %>
  </div>
  
  <turbo-frame id="admin-leaderboard-frame" target="_top">
    <div class="grid grid-cols-[1fr_4fr_1fr<%= @workouts.count.positive? ? "_repeat(#{@workouts.count},_2fr)" : '' %>] my-8 border border-gray-200">
      <div class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Rank</div>
      <div class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Athlete</div>
      <div class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Points</div>
      <% @workouts.each_with_index do |workout, index| %>
        <div class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Workout <%= index + 1 %></div>
      <% end %>
      <% @athletes.each_with_index do |athlete, index| %>
        <div class="<%= index.odd? ? 'bg-gray-100' : '' %> h-20 text-lg font-semibold flex items-center border border-gray-200 justify-center"><%= athlete.rank %></div>
        <div class="<%= index.odd? ? 'bg-gray-100' : '' %> h-20 text-sm font-semibold flex items-center border border-gray-200 justify-start uppercase px-4"><%= athlete.full_name %></div>
        <div class="<%= index.odd? ? 'bg-gray-100' : '' %> h-20 text-sm font-semibold flex items-center border border-gray-200 justify-center"><%= athlete.total_points %></div>

        <% @workouts.each do |workout| %>
          <% score = athlete&.scores&.find_by(workout_id: workout.id) %>
          <% if score %>
            <div class="<%= index.odd? ? 'bg-gray-100' : '' %> h-20 flex flex-row justify-around items-center border border-gray-200">
              <div class="flex flex-col text-center">
                <div class="text-xs"><%= format_rank(score&.rank) %></div>
                <div class="text-xs">(<%= format_score(score) %>)</div>
                <div class="text-xs"><%= score&.points %>pts</div>
                <% if score.tiebreak? %>
                    <div class="text-xs">TB: <%= format_tiebreak_score(score) %></div>
                <% end %>
              </div>
              <div class="flex gap-2">
                <%= link_to edit_score_path(score) do %>
                  <i class="fa-regular fa-pen-to-square"></i>
                <% end %>
                <%= link_to score, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-regular fa-trash-can" style="color: #ff0000;"></i>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="<%= index.odd? ? 'bg-gray-100' : '' %> border border-gray-200 flex items-center justify-center">
              <%= link_to new_score_path(athlete_id: athlete.id, workout_id: workout.id), class: "" do %>
                <i class="fa-regular fa-square-plus fa-xl" style="color: #263940;"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </turbo-frame>
</section>
