<section class="container mx-auto">
  Admin Leaderboard
  
  <%= form_with url: "/leaderboard", method: :get, data: { controller: "actions", turbo_frame: 'leaderboard-frame' } do |form| %>
    <%= form.text_field :query, data: { action: 'input->actions#submit' }, type: "search", placeholder: "Start typing to search..." %>
    <%= form.select :division, options_for_select(["Scaled Femenino", "Scaled Masculino", "Intermedio Femenino", "Intermedio Masculino", "RX Masculino"], "Scaled Femenino"), {}, data: { action: 'change->actions#submit' } %>
  <% end %>
  
  <turbo-frame id="leaderboard-frame" target="_top">
    <div class="grid border border-black grid-cols-6">
      <div class="p-2">Rank</div>
      <div class="p-2">Athlete</div>
      <div class="p-2">Total</div>
      <% @workouts.each_with_index do |workout, index| %>
        <div>
          <div class="p-2">Workout <%= index + 1 %></div>
          <div class="p-2"><%= workout.name %></div>
        </div>
      <% end %>
      <% @athletes.each do |athlete| %>
        <div class="p-2"><%= athlete&.rank || 0 %></div>
        <div class="flex flex-col p-2">
          <div class="uppercase font-semibold"><%= athlete.full_name %></div>
          <div class="uppercase text-gray-500 text-sm"><%= athlete.box %></div>
        </div>
        <div class=""><%= athlete&.total_points %></div>
        <% @workouts.each do |workout| %>
          <% score = athlete&.scores&.find_by(workout_id: workout.id) %>
          <div class="flex justify-between px-5 items-center">
            <% if score %>
              <div class="flex gap-5">
                <div class="font-semibold">
                  <%= score.points %>
                </div>
                <div>
                  <%= score.rank %>
                </div>
                <div>
                  <%= format_score(score.main_score, score.workout_type) %>
                </div>
                <% if score.has_tiebreak? %>
                  <div>
                    <%= format_score(score.tiebreak_score, score.tiebreak_type) %>
                  </div>
                <% end %>
              </div>
              <div class="flex gap-4">
                <%= link_to edit_score_path(score) do %>
                  <i class="fa-regular fa-pen-to-square"></i>
                <% end %>
                <%= link_to score, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-regular fa-trash-can" style="color: #ff0000;"></i>
                <% end %>
              </div>
            <% else %>
              <%= link_to 'Add score', new_score_path(athlete_id: athlete.id, workout_id: workout.id), class: "rounded p-3 bg-gray-500 text-white font-medium w-fit h-fit mx-auto" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </turbo-frame>
  
</section>
