<!DOCTYPE html>
<html class="h-full scroll-smooth">
  <head>
    <title>High Ground</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full flex flex-col">
    <div class="flex-1 flex flex-col">
      <%= render "shared/navbar" %>
      <main class="flex-1">
        <%= yield %>
      </main>
    </div>
    <div class="min-h-screen bg-[url('chejo.jpg')] bg-cover bg-no-repeat fixed w-full -z-20 bg-center">
    </div>
    <div class="min-h-screen bg-hg-black bg-cover bg-no-repeat fixed w-full -z-10 opacity-70">
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
